
# --- Backend (Tomcat) ---
# Ignorar los artefactos compilados del servidor
*.war
*.jar
nutron-api-rest/build/
nutron-api-rest/out/

# --- Nutron Docker & Persistencia ---
# Evita subir los datos reales de tu MongoDB a Git
nutron-docker/mongodb/data/
nutron-docker/data/
.env

# --- JetBrains & Gradle ---
.gradle/
.idea/
build/
**/build/
*.iml
*.iws
out/
local.properties

# --- Kotlin Multiplatform & Konan ---
.kotlin/
.konan/
*.kexe
*.klib
*.kt.bc

# --- Android ---
*.apk
*.aar
*.ap_
*.dex
captures/
.externalNativeBuild/
.cxx/
output.json

# --- iOS (Xcode) ---
.DS_Store
**/iosApp/
DerivedData/
Build/
Index/
**/iosApp.xcworkspace/xcuserdata/
**/iosApp.xcworkspace/xcshareddata/
*.moved-aside
*.swp
*.lock
.metadata/

# --- Conservar archivos de proyecto Xcode críticos ---
# Esto asegura que la estructura del proyecto se mantenga
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata

# --- Varios ---
node_modules/
*.log
.temp/
.tmp/
